# Molecule managed

{% if item.registry is defined %}
FROM {{item.registry.url}}/{{item.image}}
{% else %}
FROM {{item.image}}
{% endif %}

RUN pacman -Syu --noconfirm
RUN pacman -S --noconfirm python sudo bash ca-certificates
